@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans|Allerta+Stencil');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.title-bar-container {
  position: relative;
  display: block;
  float: left;
  background-color: #F3F9FD;
  height: 10vh;
  width: 100%;
  margin-top: 3vh;
}

.main-logo {
  height: 10vh;
  width: 20vh;
  position: absolute;
  left: 20vw;
}

.main-logo h1{
  padding: 0;
  font-family: 'La Belle Aurore', cursive;
  margin: 0 0 0 20%;
  position: absolute;
  color: #666666;
  bottom: -18%;
  z-index: 1000;
  transform: rotate(-7deg);
}

.calculate-all-button{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;]
  transition-duration: 0.4s;
}

.calculate-all-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.ants-container {
  position: relative;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

.ants-carousel-container {
  position: relative;
  display: block;
  float: left;
  height: 87vh;
  width: 100%;
  background-color: #d3d3d3;
}

.ants-carousel-content{
  width: 100%;
  height: 87vh;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

.ant-text{
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  height: 85%;
  width: 85%;
  margin: -42.5% 0 0 -42.5%;
}

.ant-text h1{
  /*border-bottom: 1px solid white;*/
  text-align: center;
  white-space: initial;
}

.ant-info{
  width: 100%;
  height: auto;
  margin-top: 8%;
}

.button-helper{
  position: absolute;
  width: 100%;
  bottom: 10%;
}

.calculate-button{
  background-color: #e1614e;
  border: 1px solid #e1614e;
  box-sizing: border-box;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;]
  transition-duration: 0.4s;
}

.calculate-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  box-sizing: border-box;
}

.img-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.ants-carousel-content img{
  position: absolute;
  left: 0;
  top: 0;
  /*width: 200%;*/
  height: 185%;
  vertical-align: middle;
}


.ants-carousel-info{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 500px;
  width: 500px;
  top: 100px;
  left: 50%;
  margin-left: -250px;
}

.ants-standings-container {
  position: relative;
  float: left;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #4DBD33;
}

.race-message{
  position: absolute;
  /*background-color: blue;*/
  width: 50vw;
  height: 10vh;
  display: block;
  text-align: center;
  top: 15%;
  left: 50%;
  margin-left: -25vw;
  font-size: 125%;
  color: white;
}


.race-message h1{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 150%;
}

.ants-race-track {
  position: absolute;
  background-color: #e1614e;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  margin-left: -25vw;
  margin-top: -25vh;
  border: 5px solid white;
  border-top: 0;
  box-sizing: border-box;
}

.starting-line {
  position: absolute;
  float: left;
  border-right: 5px solid white;
  border-top: 5px solid white;
  box-sizing: border-box;
  color: white;
  height: 100%;
  width: 10%;
  left: 0;
  top: 0;
}

.finish-line {
  position: absolute;
  float: right;
  border-left: 5px solid white;
  border-top: 5px solid white;
  box-sizing: border-box;
  height: 100%;
  width: 10%;
  right: 0;
  top: 0;
}

.ant-standings-list{
  position: relative;
  display: block;
  float: left;
  background-color: red;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

.ant-standing-card{
  white-space: nowrap;
  margin: 0;
  border-top: 5px solid white;
  box-sizing: border-box;
}

.ant-standing-card-text{
  position: relative;
  float: left;
  display: block;
  width: 100%;
  height: 100%;
}

.ant-standing-card h1{
  position: absolute;
  bottom: 0;
  right: 2%;
  padding: 0;
  margin: 0;
  color: #666666;
  font-style: italic;
  font-size: 125%;
  z-index: 0;
}

.ant-standing-card img{
  width: 15%;
  vertical-align: middle;
  z-index: 1000;
}

.all-ants-button {
  position: absolute;
  width: 10vw;
  height: 5vh;
  top: 80%;
  left: 50%;
  margin-left: -5vw;
  text-align: center;
}

.calculate-all-button {

}
